/*MOBILE LAST*/
/* 1 */
@media (max-width: 800px) {
  .inicio h1 {
    font-size: 20px;
  }

  .grid-index {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 300px;
    height: 300px;
    grid-template-areas:
      "imag1 imag2"
      "imag3 imag3";
  }

  .footer .redes img {
    width: 25%;
    margin: 10px 10px 10px;
    a img {
      display: flex;
      max-width: 25%;
      margin-left: 100vw;
    }
  }
  .header img {
    width: 25vw;
  }
  .main-nosotros h1 {
    text-align: center;
    font-size: 15px;
    width: 75vw;
    border-radius: 5px;
    margin-right: auto;
    margin-top: 0;
    p {
      border-radius: 5px;
      text-align: center;
      width: 75vw;
    }
    h2 {
      border-radius: 5px;
      text-align: center;
      width: 75vw;
    }
  }
  .grid-cotainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;

    grid-template-areas:
      "imagen1 imagen2"
      "imagen3 imagen4"
      "imagen5 imagen6";
  }
}
